.badge.active,
.badge.on {
    background-color: #d1fab3;
    color: #217005;
    outline: 1px solid #a8f170;
}

.badge.setup {
    background-color: #cbf5fd;
    color: #045ad0;
    outline: 1px solid #a7e7fc;
}

.badge.off {
    background-color: #fde9ee;
    color: #c0123c;
    outline: 1px solid #fde9ee;
}
