input[type="text"],
input[type="email"],
input[type="password"],
textarea.materialize-textarea {
    font-family: "Teko", sans-serif;
    letter-spacing: 1px;
}

input[type="text"]:focus,
input[type="email"]:focus,
input[type="password"]:focus,
.materialize-textarea:focus {
    border-bottom-color: #f9a825 !important;
    box-shadow: 0 1px 0 0 #f9a825 !important;
}

input[type="text"] ~ label.active,
input[type="email"] ~ label.active,
input[type="password"] ~ label.active,
textarea.materialize-textarea ~ label.active {
    color: #f9a825 !important;
}

.select-dropdown > li > span,
.dropdownn-content > li > a {
    color: #f9a825 !important;
}

input[type="text"].invalid ~ label.active,
input[type="email"].invalid ~ label.active,
input[type="password"].invalid ~ label.active {
    color: #f44336 !important;
}

textarea.materialize-textarea {
    max-height: 104px !important;
    overflow: hidden !important;
    resize: none !important;
    white-space: pre-wrap;
    word-break: break-word;
}
