header.home {
    min-height: 70dvh;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
        url("../images/banners/home.jpg");
    background-size: cover;
    background-position: top;
    filter: grayscale(100%);
    -webkit-filter: grayscale(100%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

header.home > .header-content {
    color: white !important;
    text-align: center;
}

header.home > .header-content h1 {
    font-size: 6rem;
}

header.home > .header-content h5 {
    font-size: 2rem !important;
}

section.about-us {
    background-image: url("../images/office.jpg");
    background-repeat: no-repeat;
    background-position: left;
    background-size: 50vw 100%;
}

section.industries-we-serve {
    background-image: url("../images/banners/services-side-section.webp");
    background-repeat: no-repeat;
    background-position: right;
    background-size: 50vw 100%;
}

header.page {
    min-height: 500px;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
        url("../images/banners/home.jpg");
    background-size: cover;
    background-position: top;
    filter: grayscale(100%);
    -webkit-filter: grayscale(100%);
    display: flex;
    flex-direction: column;
    justify-content: center;
}

/* header.page .header-content {
    min-width: fit-content;
} */

header h1,
header h5 {
    color: white !important;
}

.flexbox {
    display: flex;
}

.flex-col {
    flex-direction: column;
}

.justify-center {
    justify-content: center;
}

.items-center {
    align-items: center;
}

footer.teal p,
footer.teal a {
    color: white !important;
    letter-spacing: normal;
}

@media screen and (max-width: 480px) {
    header.home > .header-content h1 {
        font-size: 3rem !important;
    }

    header.home > .header-content h5 {
        font-size: 1.5rem !important;
    }

    section.about-us {
        background-image: none;
    }
}
