nav.main-nav {
    background-color: white !important;
    position: sticky;
    top: 0;
    z-index: 999 !important;
}

nav.main-nav .brand-logo {
    position: relative;
    height: 64px;
}

nav.main-nav .brand-logo > img {
    position: absolute;
    height: 48px;
    top: 50%;
    transform: translateY(-50%);
    left: 0;
}

nav.main-nav .brand-logo,
nav.main-nav ul li a {
    background-color: white;
    color: #212121;
}

nav.main-nav ul li a:not(.yellow):focus {
    background-color: #e0e0e0 !important;
}

nav.main-nav ul li a:not(.yellow):hover {
    background-color: #e0e0e0 !important;
}

nav.modal-nav {
    padding: 0 35.5px;
    height: 84px;
    background-color: white;
    box-shadow: none !important;
}

nav.modal-nav .brand-logo {
    color: #212121 !important;
    height: 84px;
    line-height: 84px;
    margin: 0;
}

nav.breadcrumb-nav {
    background-color: transparent;
    box-shadow: none;
}

nav.breadcrumb-nav .breadcrumb::before {
    font-family: "Material Symbols Rounded";
}

nav.blog-nav {
    background-color: white;
    box-shadow: none;
}

nav ul li a {
    color: #212121;
}

nav ul li a i {
    color: #212121;
}

nav.steps-nav {
    box-shadow: none;
    background-color: white;
}

nav.steps-nav a.breadcrumb {
    font-size: 1.25rem;
    color: #212121;
}

nav.steps-nav a.breadcrumb.active {
    color: #fbc02d;
}

nav.steps-nav a.breadcrumb:not(:first-child)::before {
    content: "\E5CC";
    color: #212121;
    vertical-align: top;
    display: inline-block;
    font-family: "Material Symbols Rounded";
    font-weight: normal;
    font-style: normal;
    font-size: 25px;
    margin: 0 10px 0 8px;
    -webkit-font-smoothing: antialiased;
}

@media screen and (max-width: 480px) {
    nav.main-nav .brand-logo {
        height: 56px;
    }
}
