p {
    color: #212121;
}

.underline {
    text-decoration: underline;
}

.font-medium {
    font-weight: 500;
}

.font-semibold {
    font-weight: 600;
}

.capitalize {
    text-transform: capitalize;
}

.lowercase {
    text-transform: lowercase;
}

.header-font {
    font-family: var(--header-font);
    letter-spacing: normal;
}

.text-xs {
    font-size: 0.75rem !important;
    line-height: calc(1 / 0.75) !important;
}

.text-sm {
    font-size: 0.875rem !important;
    line-height: calc(1.25 / 0.875) !important;
}

.text-base {
    font-size: 1rem;
    line-height: calc(1.5 / 1);
}

.text-lg {
    font-size: 1.25rem;
    line-height: calc(1.75 / 1.125);
}
