@import url("https://fonts.googleapis.com/css2?family=Teko:wght@300..700&display=swap");

@import url("css/buttons.css");
@import url("css/cards.css");
@import url("css/inputs.css");
@import url("css/layout.css");
@import url("css/modal.css");
@import url("css/navbar.css");
@import url("css/typography.css");

* {
    font-size: 18px;
}

@font-face {
    font-family: "RadionB";
    src: url("fonts/radionb.ttf") format("truetype");
    font-weight: semi-bold;
    font-style: normal;
}

:root {
    --header-font: "RadionB", sans-serif;
}

body {
    font-family: "Teko", sans-serif;
    letter-spacing: 1px;
}

section {
    padding: 5% 0;
}

footer.page-footer h4 {
    color: #000000;
}

footer.page-footer p a {
    color: #212121;
}

table.bottomless > tbody > tr:last-child {
    border-bottom: none;
}

table.borderless > tbody > tr {
    border-bottom: none;
}
